* {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
      }
     
     .todo-app {
       display: flex;
       flex-direction: column;
       justify-content: start;
       width: 520px;
       min-height: 500px;
       background: lightpink;
       text-align: center;
       margin: 128px auto;
       border-radius: 10px;
       padding-bottom: 32px;
     }
     
     h1 {
       margin: 32px 0;
       color: rgb(0, 0, 0);
       font-size: 24px;
     }
     
     .complete {
       text-decoration: line-through;
       opacity: 0.4;
     }
     
     .todo-form {
       margin-bottom: 32px;
     }
     
     .todo-input {
       padding: 14px 32px 14px 16px;
       border-radius: 4px 0 0 4px;
       border: 2px solid #ff0cc2;
       outline: none;
       width: 320px;
       background: transparent;
       color: rgb(0, 0, 0);
     }
     
     .todo-input::placeholder {
       color: #000000;
     }
     
     .todo-button {
       padding: 16px;
       border: none;
       border-radius: 0 4px 4px 0;
       cursor: pointer;
       outline: none;
       background: rgb(253, 4, 191);
        color:#fff;
       text-transform: capitalize;
     }
     
     
     .todo-container {
       display: flex;
       flex-direction: row;
       position: relative;
     }
     
     .todo-row {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 4px auto;
       color: #fff;
       font-weight: bold;
       background: rgb(1, 250, 84);
       padding: 16px;
       border-radius: 5px;
       width: 90%;
     }
     
     